/*
* @Author: harsha
* @Date:   2018-09-09 18:23:15
* @Last Modified by:   harsha
* @Last Modified time: 2018-09-09 19:38:35
*/
ul li{
 font-size: x-large;
}

h1{
 font-size: xx-large;
}

p{
  font-size: x-large;
}