/*
* @Author: harsha
* @Date:   2018-09-09 18:23:15
* @Last Modified by:   Harshavardhan.Kadiyala
* @Last Modified time: 2018-09-10 17:01:26
*/
ul li{
 font-size: x-large;
}

h1{
 font-size: xx-large;
}

p{
  font-size: x-large;
}

footer {
    float: right;
    /*height: 35px;*/
    margin: 0px 50px 0px 0px;
   /* background: #9FF;*/
    font-size: large;
    text-align: right;
    /*padding: 10px 30px;
    /*width: 180px;*/
}