/*
* @Author: harsha
* @Date:   2018-09-09 18:23:15
* @Last Modified by:   Harshavardhan.Kadiyala
* @Last Modified time: 2018-09-11 11:11:47
*/
ul li{
 font-size: x-large;
}

h1{
 font-size: xx-large;
}

p{
  font-size: x-large;
}

.page_num_header {
    float: right;
    margin: 0px 0px 0px 0px;
    font-size: large;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 0px;
}

pre {
    font-size: x-large;
}